/* wrap in a mobile container */

* {
    --button-padding: 50px;
}

#app {
    background-color: rgb(255, 0, 0);
}

/* search products */
.button-grid {
    display: grid;
    background-color: blue;
    grid-template-areas: '. .' 'full full' 'search search'  ;
    grid-template-columns: '1fr 1fr';
    justify-content: center;
    gap: 10px;
}

.front-button {
    background-color: aqua;
    display: flex;
    justify-content: center;
    padding-left: var(--button-padding);
    padding-right: var(--button-padding);
}

.front-button:nth-child(3) {
    grid-area: full;
}

.search-area {
    grid-area: search;
    background-color: white;
    height: 30px;
    width: 100%;
}

/* End search products */

/* Showcase products*/
.showcase-pro-grid {
    display: grid;
    grid-template-columns: auto auto;
    background-color: green;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End Showcase products*/

/*Big Link Area*/
.big-link-container {
    background-color: yellow;
}

.big-link-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


/*End Big Link Area*/

/* Featured Vehicles */
.vehicle-carousel {
    display: flex;
    background-color: orange;
}

.motor-frame {
    display: flex;
    flex-direction: column;
}

/* End Featured Vehicles */

/*Meet the Team*/

.team-container {
    background-color: purple;
}

.meet-team-btn {
    border: 1px solid black;
    height: 30px;
}

.team-carousel {
    display: flex;
    justify-content: space-around;
}

/*End Meet the Team*/

/* story containers */


/* End Story Containers */

/* Reviews */

.review-container {
    background-color: peachpuff;
}

.review-carousel {
    display: flex;
}

/* End Reviews */

/* news letter*/

/* end new letter */

/* hours */
.dealer-info-container {
    background-color:chartreuse;
}
/* end hours */

/*quick-links*/

.link-groups {
    background-color: cadetblue;
}
/*end quick-links*/




/* End Mobile Media query */