@import "bootstrap/scss/bootstrap";
@import "@fonts/poppins.css";
@import "@fonts/work-sans.css";
@import "@fonts/teko.css";


* {
    --accent: #EB1024;
    --sub-pattern-red: #d0002e;
    --sub-accent: #e70033;

    --meet-team-text-color: #565656;
    --meet-team-head: #D9D9D9;

    --review-bg: #f4f4f4;
    --read-more-color: #7A7A7A;

    --tp-color: #00000099;

    --grid-link: #221F1F;

    --tp-button-color: #d9d9d94d;
    --button-padding-tb: 20px;
    --button-padding-lr: 330px;
    --button-text-size: 14px;
    --button-details-text-size: 12px;

    --color-cycle-1: #C2185B;
    --color-cycle-2: #78909C;
    --color-cycle-3: #0288D1;
    --color-cycle-4: #512DA8;

    --footer-bg: #282828;
    --gradient-pair-footer: #252525;

    --border-bottom: 2px solid;
    --vr-color: #DF203A;
    --promo-point: #E70033;

    --story-spacing-greater: 3em;
    --story-spacing-lesser: 1em;

}

.nav-bar-base {
    font-family: 'Poppins';
}

.nav-contact > * {
    color: var(--sub-accent);
    font-weight: 700;
}

.values-cont  {
    color: var(--sub-accent);
    font-weight: 600;
}

h1, h2 {
    font-family: "Work Sans";
    font-weight: 700;
}

p, .quick-links, 
.details-group > a,
.promo-lhs > *{
    font-family: "Work Sans";
    font-weight: 400;
}

.details-group > a, .details-group > a:hover, .details-group > a:visited{
    text-decoration: none;
    color: var(--grid-link);
}


.button-body > *,
.details-group > *,
.timeslot-area > *{
    font-family: "Work Sans";
    font-weight: 600;
}

.timeslot-area > * h2 {
    font-size: 24px;
}


.promo-title {
    font-family: 'Teko';
    font-weight: 600;
    font-size: 35px;

}

.promo-links-container > .promo-redirect-link  > * {
    font-family: "Work Sans";
    font-weight: 700;
    font-size: 14px;
}

.big-link-title {
    font-family: 'Teko';
    font-weight: 600;
    font-size: 40px;
}

.big-link-container>.test_ride {
    background-image: repeating-linear-gradient(135deg, var(--sub-pattern-red), var(--sub-pattern-red) 2px, var(--accent) 2px, var(--accent) 8px);
}

.big-link-container>.parts__accessories {
    background-image: repeating-linear-gradient(135deg, var(--gradient-pair-footer),  var(--gradient-pair-footer) 2px, var(--footer-bg) 2px, var(--footer-bg) 8px);
}

.nav-row-ham-desktop {
    background-color: var(--footer-bg);
}

.nav-row-ham-desktop>* .ham {
    filter: invert(100%);
}

.promo-overlay>* {
    color: #fff;
}





@include media-breakpoint-between(xs, sm) {
    @import "../css/xs-sm";
}



@include media-breakpoint-up(sm) {
    @import "../css/sm-md";

    .events-button.events-width-a {
        max-width: 100px !important;
    }

    .events-button.events-width-a>.button-body {
        max-height: 40px !important;
    }




}

@include media-breakpoint-between(sm, md) {
    @import "../css/sm-md";

    .dealer-info-container {
        display: block;
    }

    .dealer-group-flex {
        width: 100vw !important;
    }

    .motor-frame,
    .review-box {
        min-width: 100vw !important;
    }

    .motor-frame .hidden-carousel {
        display: none !important;
    }

    .hero-logo {
        width: 230px;
        height: 50px;
    }


    .promo-overlay {
        box-sizing: border-box;
        background-image: url('@public/promo-ext.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .promo-content {
        transform: translateY(10px);
    }



    .promo-container {
        min-height: 50vh;

    }

    .mini-img-promo {
        background-image: url('@public/promo-mini.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 325px;
        height: 325px;
        right: 0px;
        top: 25px;
    }



}


@include media-breakpoint-up(md) {
    @import "../css/sm-md";



    .motor-frame>img {
        min-width: 200px !important;
        min-height: 200px !important;
        max-width: 252px !important;
        max-height: 250px !important;
    }

    .hero-logo {
        width: 230px;
        height: 50px;
    }

    .promo-container {
        padding-top: 10em;
        padding-bottom: 10em;
        margin-bottom: 10em;
        box-sizing: border-box;
        background-image: url('@public/promo-md.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    .promo-overlay {
        
        height: 500px !important;
    }

    .mini-img-promo {
        display: none;
    }



}

@include media-breakpoint-between(md, lg) {

    .motor-frame,
    .review-box {
        min-width: 33vw !important;
    }



}

@include media-breakpoint-up(lg) {

    .motor-frame,
    .review-box {
        min-width: 25vw !important;
    }

    .promo-container {
        background-image: none;

    }

    .promo-overlay {
        box-sizing: border-box;
        background-image: url('@public/promo-ext.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: unset !important;
    }

    .mini-img-promo {
        background-image: url('@public/promo-mini.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 400px;
        position: sticky;
        display: block;

        right: 3vw;
        top: 120px;
    }


}

@include media-breakpoint-up(xl) {
    .search-container {
        padding-bottom: 10em !important;
        background-position: center;
        background-size: cover;
        background-image: url('@public/hero-large.png')
    }

    .transform-footer {
        display: flex;
    }

    .showcase-pro-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .transform-footer>div {
        width: 50vw;
    }

    .link-groups {
        display: flex;
    }

    .quick-link-group {
        width: 33vw
    }
}